.visualiser_panel {
    position: fixed;
    top: 10px; right: 10px;
    width: 200px; height: 100px;
    border: 3px solid rgba(0,0,0, 0.1);  /* #73AD21; */

    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */

    color: #a00;
    background-color: rgba(0,0,0, 0.1); /* Black w/ opacity */

}


/* The Close Button */
.close {
    position: absolute;
    color: rgba(0,0,0, 0.6); /* Black w/ opacity */
    /*color: #aaa;*/
    bottom: 1px; left: 0px;

    z-index: 1; /* Sit on top */
    float: right;
    font-size: 15px;
    nofont-family: "sans serif";
}
